<ion-header>
  <ion-toolbar>
    <ion-title>details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="overlay"></div>
  <ion-card>
    <ion-card-header>
      <h3>Chike-Ft-Simi-Running-To-You(TrendyBeatz.com)</h3>
    </ion-card-header>
    <ion-card-content>
      <p>Artist: Chike (Ft. Simi)</p>
      <p>Album: TrendyBeatz.com</p>
    </ion-card-content>
  </ion-card>
  <br>

  <ion-label>Recommended Songs</ion-label>
  <ion-card>
    <ion-card-header>
      <h3>Chike-Ft-Simi-Running-To-You(TrendyBeatz.com)</h3>
    </ion-card-header>

    <ion-card-content>
      <p>Artist: Chike (Ft. Simi)</p>
      <p>Album: TrendyBeatz.com</p>
    </ion-card-content>
  </ion-card>
  <br>

  <ion-label>You May Also Like</ion-label>
  <ion-card>
    <ion-card-header>
      <h3>Chike-Ft-Simi-Running-To-You(TrendyBeatz.com)</h3>
    </ion-card-header>

    <ion-card-content>
      <p>Artist: Chike (Ft. Simi)</p>
      <p>Album: TrendyBeatz.com</p>
    </ion-card-content>
  </ion-card>
</ion-content>
