<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-content (click)="navigateToSongs()">
            <ion-icon name="file-tray"></ion-icon>
            <p>Libray</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <ion-card-content>
            <ion-icon name="file-tray"></ion-icon>
            <p>Albums</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <ion-card-content>
            <ion-icon name="file-tray"></ion-icon>
            <p>Artist</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <ion-card-content>
            <ion-icon name="file-tray"></ion-icon>
            <p>Playlists</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-text>
    <ion-label>{{status}}</ion-label>
    <ion-label>{{fileUrl}}</ion-label>
    <br>
    <ion-label>Resolved: {{ resolvedPath }}</ion-label>
    <br>
    <ion-label *ngFor="let item of lists">isFile? {{item.isFile}}</ion-label>
  </ion-text>
  
</ion-content>
